@{
    ViewData["Title"] = "Home Page";
}

<main class="container d-flex flex-column gap-5">

    <!-- Hero section -->
  

    <section class="d-flex flex-column mt-5 gap-5 mb-3">
        <div class="d-flex  flex-column col-lg-9 gap-4">
            <h1>Track What You Watch, Read, and Love.</h1>
            <h5>Keep your books, movies, and anime in one organized hub.</h5>
            <p>Search for any movie, book, or anime, add it to your list, and once finished, add a review and your thoughts about it! </p>
            <a href="@Url.ActionLink("Index", "Search")" class="btn btn-primary w-50 ">Search</a>
        </div>
     
    </section>

    <section class="d-flex flex-column text-center gap-4 mb-4 mt-5">
        <h1>Feature Overview</h1>

        <table class="table table-hover table-striped  table-bordered">
            <tbody class="">
                <tr>
                    <td>
                        <h4>

                        📚
                        </h4>
                    </td>
                    <td>
                        <h4>Universal Library</h4>
                    </td>
                    <td>
                        <h4>
                        Track books, movies & anime in one place

                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>
                        ⭐

                        </h4>
                    </td>
                    <td>
                        <h4>

                        Ratings & Reviews
                        </h4>
                    </td>
                    <td>
                        <h4>
                        Rate and comment on each media

                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>
                        📈

                        </h4>
                    </td>
                    <td>
                        <h4>
                        Progress Tracking

                        </h4>
                    </td>
                    <td>
                        <h3>
                        Mark titles as “Plan to Watch”, “Watching”, or “Finished”
                        </h3>   
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>
                        🔍
                        </h4>
                    </td>
                    <td>
                        <h4>
                        Global Search

                        </h4>
                    </td>
                    <td>
                        <h4>
                        Look up media from public APIs

                        </h4>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <h4>
                        🧾

                        </h4>
                    </td>
                    <td>
                        <h4>
                        Personal Lists

                        </h4>
                    </td>
                    <td>
                        <h4>
                        Build your own lists

                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

    <section class="flex-column mt-3 mb-3">
        <h1 class="text-center mb-4">
            Your media journey at a glance
        </h1>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <img src="https://placehold.co/600x400" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                    <img src="https://placehold.co/600x400" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                    <img src="https://placehold.co/600x400" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </section>

</main>
