@model List<MediaItem>

@if (Model.Count == 0)
{
	<p>No search Results</p>
}
@foreach (var item in Model)
{
	<div class="card mb-2 mt-4 col-sm-2" style="width: 15rem; ">
		<img src="https://placehold.co/90x100" class="card-img-top" alt="...">
		<div class="card-body">
			<div class="d-flex flex-column">
				<h4 class="" style="">@item.Title</h4>
				<div>


					<div>
						@switch (item.Rating)
						{
							case "0":
								<i class="bi bi-star-fill"></i>

								break;
							case "1":
								<h3><i class="bi bi-stars"></i></h3>

								break;
							case "2":
								<i class="bi bi-star-fill"></i>

								<i class="bi bi-star-fill"></i>
								break;
							case "3":
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>

								<i class="bi bi-star-fill"></i>
								break;
							case "4":
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>

								<i class="bi bi-star-fill"></i>
								break;
							case "5":
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								break;
							default:
								<i class="bi bi-star-fill"></i>
								break;
						}
					</div>
					<div>


						@foreach (var genre in item.Genres)
						{
							<p class="badge bg-primary " style="width:fit-content">@genre</p>
						}
					</div>
					<div style="margin-top:-10px">

						<p class="badge bg-secondary">@item.Language</p>

					</div>
					<div style="margin-top:-10px">
						<p class="badge bg-info">@item.Type</p>

					</div>

				</div>
			</div>
		</div>
	</div>
}
